*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    margin: 90px;
}
.box{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}
.men{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sen{
    margin: 15px;
    width: 90px;
    background-color: blue;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 25px rgb(0, 225, 255);
}
.box-1{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px
}
.n{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.on{
    margin: 15px;
    font-size: 20px;
    width: 50px;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 0 15px brown;
}
.box-2{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}
.ui{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.name{
    width: 90px;
    background-color: rgb(0, 174, 255);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 15px rgb(0, 157, 255);
}